<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-lg-2"></div>
      <div class="col-md-10 col-lg-8">
        <div class="intro">
          <div class="profile-img">
            <img [src]="'assets/images/PP.jpeg'" alt="" />
          </div>
          <h2><b>Yousef Hussein</b></h2>
          <h4 class="font-yellow">Web Developer</h4>
          <ul class="information margin-tb-30">
            <li><b>BORN : </b>August 18, 2001</li>
            <li><b>EMAIL : </b>{{ 'yousefhussein@gmail.com' }}</li>
          </ul>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
