<section class="about-section section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="heading">
          <h3><b>About me</b></h3>
          <h6 class="font-lite-black"><b>PROFESSIONAL PATH</b></h6>
        </div>
      </div>
      <div class="col-sm-8">
        <p class="margin-b-50">
            Technical skills are centered around backend development with a strong focus on PHP and Laravel, complemented by a broad understanding of various programming languages, frameworks, and development tools. These skills enable me to build efficient, scalable, and secure web applications while maintaining high standards of code quality and performance.
        </p>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="radial-prog-area margin-b-30">
              <div
                class="radial-progress"
                data-prog-percent=".97"
                style="position: relative"
              >
                <div></div>
                <h6 class="progress-title">HTML5 &amp; CSS3</h6>
                <svg viewBox="0 0 100 100" style="display: block; width: 100%">
                  <path
                    d="M 50,50 m 0,-48.5 a 48.5,48.5 0 1 1 0,97 a 48.5,48.5 0 1 1 0,-97"
                    stroke="#eee"
                    stroke-width="1"
                    fill-opacity="0"
                  ></path>
                  <path
                    d="M 50,50 m 0,-48.5 a 48.5,48.5 0 1 1 0,97 a 48.5,48.5 0 1 1 0,-97"
                    stroke="rgb(253,173,1)"
                    stroke-width="2.999784"
                    fill-opacity="0"
                    style="
                      stroke-dasharray: 304.777px, 304.777px;
                      stroke-dashoffset: 9.14331px;
                    "
                  ></path>
                </svg>
                <div
                  class="progressbar-text"
                  style="
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    padding: 0px;
                    margin: 0px;
                    transform: translate(-50%, -50%);
                    color: rgb(170, 170, 170);
                  "
                >
                  97
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="radial-prog-area margin-b-30">
              <div
                class="radial-progress"
                data-prog-percent=".78"
                style="position: relative"
              >
                <div></div>
                <h6 class="progress-title">WEB DESIGN</h6>
                <svg viewBox="0 0 100 100" style="display: block; width: 100%">
                  <path
                    d="M 50,50 m 0,-48.5 a 48.5,48.5 0 1 1 0,97 a 48.5,48.5 0 1 1 0,-97"
                    stroke="#eee"
                    stroke-width="1"
                    fill-opacity="0"
                  ></path>
                  <path
                    d="M 50,50 m 0,-48.5 a 48.5,48.5 0 1 1 0,97 a 48.5,48.5 0 1 1 0,-97"
                    stroke="rgb(250,173,8)"
                    stroke-width="2.914816"
                    fill-opacity="0"
                    style="
                      stroke-dasharray: 304.777px, 304.777px;
                      stroke-dashoffset: 67.0509px;
                    "
                  ></path>
                </svg>
                <div
                  class="progressbar-text"
                  style="
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    padding: 0px;
                    margin: 0px;
                    transform: translate(-50%, -50%);
                    color: rgb(170, 170, 170);
                  "
                >
                  78
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="radial-prog-area margin-b-30">
              <div
                class="radial-progress"
                data-prog-percent=".67"
                style="position: relative"
              >
                <div></div>
                <h6 class="progress-title">JAVASCRIPT</h6>
                <svg viewBox="0 0 100 100" style="display: block; width: 100%">
                  <path
                    d="M 50,50 m 0,-48.5 a 48.5,48.5 0 1 1 0,97 a 48.5,48.5 0 1 1 0,-97"
                    stroke="#eee"
                    stroke-width="1"
                    fill-opacity="0"
                  ></path>
                  <path
                    d="M 50,50 m 0,-48.5 a 48.5,48.5 0 1 1 0,97 a 48.5,48.5 0 1 1 0,-97"
                    stroke="rgb(241,173,25)"
                    stroke-width="2.712504"
                    fill-opacity="0"
                    style="
                      stroke-dasharray: 304.777px, 304.777px;
                      stroke-dashoffset: 100.576px;
                    "
                  ></path>
                </svg>
                <div
                  class="progressbar-text"
                  style="
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    padding: 0px;
                    margin: 0px;
                    transform: translate(-50%, -50%);
                    color: rgb(170, 170, 170);
                  "
                >
                  67
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="radial-prog-area margin-b-50">
              <div
                class="radial-progress"
                data-prog-percent=".97"
                style="position: relative"
              >
                <div></div>
                <h6 class="progress-title">PHP</h6>
                <svg viewBox="0 0 100 100" style="display: block; width: 100%">
                  <path
                    d="M 50,50 m 0,-48.5 a 48.5,48.5 0 1 1 0,97 a 48.5,48.5 0 1 1 0,-97"
                    stroke="#eee"
                    stroke-width="1"
                    fill-opacity="0"
                  ></path>
                  <path
                    d="M 50,50 m 0,-48.5 a 48.5,48.5 0 1 1 0,97 a 48.5,48.5 0 1 1 0,-97"
                    stroke="rgb(253,173,1)"
                    stroke-width="2.999784"
                    fill-opacity="0"
                    style="
                      stroke-dasharray: 304.777px, 304.777px;
                      stroke-dashoffset: 9.14331px;
                    "
                  ></path>
                </svg>
                <div
                  class="progressbar-text"
                  style="
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    padding: 0px;
                    margin: 0px;
                    transform: translate(-50%, -50%);
                    color: rgb(170, 170, 170);
                  "
                >
                  97
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
